@{
    ViewBag.Title = "Diffbot Example";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="block">
	<h3>What is diffbot</h3>
	<ul>
		<li>Them: "we apply computer vision techniques in an attempt to extract the semantic structure of every webpage on the web."</li>
		<li>Me: "Easy way to grab contextual meta data from any url"</li>
	</ul>
</div>

<div class="block">
	<h3>How am I using it?</h3>
	<ul>
		<li>Pulling in various content to help a user "do" the web content they provide. (article, video, music, etc..)</li>
		<li>Providing quick previews and contextual data about other sites and links.</li>
	</ul>
</div>

<div class="block">
	<h3>Examples</h3>
	<ul>
		<li><a href="http://www.diffbot.com/docs/api/article" target="_top">Diffbot Article API</a></li>
		<li><a href="http://www.diffbot.com/docs/api/frontpage" target="_top">Diffbot Frontpage API</a></li>
		
		<li><a href="./home/article" target="_top">C# Wrapper Article</a></li>
	</ul>
</div>
	
<div class="block">
	<h3>Show me some code!</h3>
</div>
	
<div class="block">
	<h3>Real life examples:</h3>
	<ul>
		<li>Video: <a href="http://beta.radar.cx/blip/hoodie-allen-the-chase-is-on" target="_new">Hoodie Allen via YouTube</a></li>
		<li>Photo/Text: <a href="http://beta.radar.cx/blip/sloshed-the-truth-behind-eight-big-beer-myths" target="_new">Beer Myths via GrubStreet</a></li>
		
	</ul>
</div>

<div class="block">	
	<h3>On Tap</h3>
	<ul>
		<li>Local cache (partially built into my app, but not directly into the wrapper)</li>
		<li>Follow API support</li>
		<li>White/Blacklist support</li>
		<li>Just today got access to their new <b>teach diffbot</b> api, so that should be fun as well</li>
	</ul>
</div>